@{

}

@model CreateEditStudentViewModel

<div class="row col-md-10">
    <form action="Post" asp-action=@ViewBag.Action asp-controller="Student" >
        <input asp-for="Student.UserId" type="hidden">
        <div class="row mb-3">
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Name">Nombre:</label>
                <input class="form-control" asp-for="Student.Name">
            </div>
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Lastname">Apellidos:</label>
                <input class="form-control" asp-for="Student.Lastname">
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Nid">Nid:</label>
                <input class="form-control" asp-for="Student.Nid">
            </div>
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Phone">Tel:</label>
                <input class="form-control" asp-for="Student.Phone">
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-10">
                <label class="form-label" asp-for="Student.Address">Dirección:</label>
                <textarea class="form-control" asp-for="Student.Address" cols="100" rows="2"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Username">Usuario:</label>
                <input class="form-control" asp-for="Student.Username">
            </div>
            <div class="form-group col-md-5">
                <label class="form-label" asp-for="Student.Password">Contraseña:</label>
                <input class="form-control" asp-for="Student.Password" type="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-md-10">
                <label class="form-label" asp-for="StudentDetail.Classroom">Materia:</label>
                <input class="form-control">
            </div>
        </div>
        <div class="mb-3 col-md-10">
            <div class="form-group  float-end">
                <input type="submit" value="Guardar" class="btn btn-outline-success">
            </div>
        </div>
    </form>
</div>
</div>
