@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Cursos</a>
    <ul class="navbar-nav dropdown">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Create">Crear</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="GradeBook" asp-action="Index">Asignar</a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="GradeBook" asp-action="Index">Profesores</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Estudiantes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Reportes</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Perfil</a>
</li>